
.defects-chartOptions{
    background: var(--culture);
    .chartOptions{
        border: 2px solid red;
        display: flex;
        justify-content: flex-end;
        // width: 20%;
        gap: 1rem;
        padding: 1rem;
        background: rgba(234, 233, 233, 1);
    }
    section{
        padding: 1rem;
        border-radius: 10px;
        background-color: var(--culture);
        display: flex;
    }
    .defects-container{
        display: flex;
        align-items: center;
        gap: 2rem;
        width: 1080px;

        .defects-chart{
            width: 50%;
            padding: 1rem;
        }
        .defects-table{
            width: 50%;
            padding: 1rem;
        }
    }
}