.fingerprint {
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    // background-image: url('../../assets/image/Login-screen.png'); // if you want background patterns
    background-color: #f7f7f7;
  }

  .login-card {
    background: #fff;
    padding-inline: 2rem;
    padding-block: 5rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 40%;
  }

  .login-title {
    font-size: 1.5rem;
    color: #246fff;
    margin-bottom: 0.5rem;
  }
  .fingerprint-login{

    .fingerprint-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      // margin: 0 auto 20px auto;
      img {
        margin-bottom: 1.5rem;
        cursor: pointer;
      }
    }
  }

  .divider {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1rem 0;

    .line {
      flex-grow: 1;
      height: 1px;
      background-color: #ccc;
    }

    .text {
      margin: 0 1rem;
      color: #777;
      font-size: 0.9rem;
      white-space: nowrap;
    }
  }
  .login-button {
    // background-color: #0078d7;
    color: #6c757d;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
  }
}

.login-subtitle {
  color: #6c757d;
  font-size: 0.75rem;
  letter-spacing: 0.04em;
  margin-bottom: 1.5rem;
}
