.user-control-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: #f8f9fa;
    padding: 2em;
  }

  .tab-buttons {
    display: flex;
    gap: 3.5em;
    margin-bottom: 20px;
  
    button {
      display: flex;
      align-items: center;
      gap: 0.5em;
      padding: 1em 1em;
      border: none;
      border-radius: 8px;
      font-size: 2em;
      font-weight: 400;
      cursor: pointer;
      background-color: #fff;
      color: #333;
      transition: 0.3s ease-in-out;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      margin-top: 2.5em;
      .icon {
        color: #91a33a;
        width: 1.5em;
        height: 1em;
      }
      &:hover,
      &.active {
        background-color: #e8edda;
      }
    }
  }
  